@font-face {
    font-family: 'Komika Axis';
    src: url('komika.ttf') format('truetype');
}

.word {
    font-family: 'Komika Axis';
    font-size: 24px;
    color: #DDDDDD;
    font-weight: 800;
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000,
         3px  3px 5px rgba(0,0,0,0.5);
    padding: 3px 5px;
}

.word-being-narrated {
    color: #FFFF00;
}

.word-already-narrated {
    color: #FFFFFF;
}